body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}
ol {
    list-style-type: none;
    display: flex;
    gap: 20px;
    padding: 0;
}
li {
    cursor: pointer;
    padding: 20px;
    margin: 5px 0;
    border: 2px solid #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: white;
    user-select: none;
}